body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1{
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

p{
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    color: #00e1ff;
}

#encabezado{
    background-color: #4CAF50;
    color: white;
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(255, 0, 0, 0.3);
}
#encabezado h1{
   color: #000000;

}
#encabezado .primero{
    color: blueviolet;
}
#encabezado .segundo{
    color: rgb(226, 43, 43);
}
#encabezado .tercero{
    color: rgb(43, 101, 226);
}