body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1{
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

p{
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    color: #34495e;
}

#encabezado{
    background-color: #3B82F6;
    min-height: 130px;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 10%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px ;
}
.logo img{
    width: 80%;
    height: 80%;
}

.menu{
    background-color: #34D399;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #34D399;
    display: flex;
    gap: 15px;
}
.menu ul li{
    float: left;
}


.menu ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    align-items: center;
}

.menu ul li a:hover{
    background-color: #F1F5F9;
    color: rgb(71, 166, 255);
    border-radius: 4px;
}


.redes{
    background-color: #ffff;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}
.redes img{
    width: 50px ;
    height: 50px;
}   


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px auto; 
    background-color: #3B82F6;
    padding: 20px;
    width: 80%;
}
.cards .card1{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    max-width: 30%;
    max-height: 80%;
    }

.cards .card1 img{
    width: 200px;
    height: 100px;  
}
.cards .card2{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    max-width: 30%;
    max-height: 80%;
    }

.cards .card2 img{
    width: 200px;
    height: 100px;  
}

.cards .card3{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    max-width: 30%;
    max-height: 80%;
    }

.cards .card3 img{
    width: 200px;
    height: 100px;    
}
.cards .card4{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    max-width: 30%;
    max-height: 80%;
    }

.cards .card4 img{
    width: 200px;
    height: 100px;    
}
.fondo {
    background-image: url('/images/fondo.webp');
    text-align: center;
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 750px;
    margin: 40px auto; 

}

footer {
    background-color: #3B82F6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}