body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1{
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

p{
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    color: #34495e;
}

#encabezado{
    background-color: #3498db;
    min-height: 130px;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 10%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px ;
}
.logo img{
    width: 80%;
    height: 80%;
}

.menu{
    background-color: #e74c3c;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #e74c3c;
    display: flex;
    gap: 15px;
}
.menu ul li{
    float: left;
}


.menu ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    align-items: center;
}

.menu ul li a:hover{
    background-color: #c0392b;
    color: tomato;
    border-radius: 4px;
}


.redes{
    background-color: #9b59b6;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}